body{
    margin: 0;
    font-size:20px;
    color:white;
    line-height: 30px;
    background-color: black;
    
}

/* This is how you make a comment in CSS. */

header{
    background-color: #964424;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50 px;
    background-image: url(grass.png);
    background-size: 100px 80px;
    background-position: bottom;
    background-repeat: repeat-x;
}

h1, h2, h3{

    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h1{
    color: white;
    font-size: 60px;
   
        
      
}

header img{
    /*border-radius: 200px;*/
    width: 300px;
    height:auto;
    /*border: 20px solid white;*/
}


main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    

}

main img{
    max-width:100%;
}

a{
    color: yellow;
}

table {
    border-collapse: collapse;
}


td {
    padding: 10px;
    font-size:18px;
}


.pokedexbox {
    border: none;
    padding: 50px;
    font-size: 24px;
    width: 350px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

a:hover{
    color:rgb(124, 92, 11);
}

footer{
    background-color: dodgerblue;
    text-align: center;
    color:white;
    padding: 50px;
}

footer p{
    margin: 0;
}

p, div{
    font-family: Arial, Helvetica, sans-serif;
}